#root {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}